body{
    background-color: #231F20;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category{
    width: 20vw;
    height: 10vh;
    background-color: white;
    margin: 20px;
}